<div>
    <div class="p-grid" style="margin-top: 0;">
        <div class="p-col-12">
            <div style="float: right; margin-right: 10px; padding:0 3px" class="symbol">
                <span (click)="dt1.exportCSV()">
                    <i class="pi pi-file-excel"></i>
                    <u> Export to CSV</u>
                </span>
            </div>
        </div>
    </div>

    <div>
        <p-table #dt1 [columns]="cols" [value]="positions" dataKey="id" [rows]="50" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[20,50,100,500]"
            styleClass="p-datatable-positions p-datatable-striped" [resizableColumns]="false" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['symbol']" [autoLayout]="true" [scrollable]="false" 
            [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" *ngIf="col.field != 'research'"></p-sortIcon>
                        <p-columnFilter *ngIf="col.field == 'symbol'" type="text" field="symbol" display="menu"
                            class="p-ml-auto"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-position>
                <tr class="p-selectable-row">
                    <!-- <td>
                        <i (click)="showSymbolDetailDialog(position.symbol)" class="pi pi-chart-line"
                            title="Charts and Stats" style="font-size: 1.20rem; cursor: pointer;">
                        </i>
                    </td> -->
                    
                    <td style="text-align: left;">
                        <span class="symbol" (click)="ShowSymbolChart(position.symbol)"
                            >{{position.symbol}}</span>
                    </td>

                    <td style="text-align:left; min-width: 13rem;">
                        <div>{{position.name}}</div>
                    </td>

                    <td style="text-align:left">
                        <div [ngClass]="position.type | classpipe ">{{position.type}}</div>
                    </td>

                    <td>
                        <div>{{position.qty}}</div>
                    </td>

                    <td>
                        <div>{{position.price | currency}}</div>
                    </td>

                    <!-- <td>
                        <div>{{position.costBasis | currency}}</div>
                    </td> -->

                    <td>
                        <div>{{position.percentageShare | number:'0.2-2'}}%</div>
                    </td>

                    <td>
                        <div>{{position.currentPrice | currency}}</div>
                    </td>

                    <td style="min-width: 130px;">
                        <div [ngClass]="position.priceChange | classpipe ">
                            {{position['priceChange'] | currency}} ({{position['changePct']| number:'0.2-2'}}%)
                        </div>
                    </td>

                    <td>
                        <div [ngClass]="position.pnl | classpipe">{{position.currentValue | currency}}</div>
                    </td>

                    <td>
                        <div [ngClass]="position.pnl | classpipe">{{position.pnl | currency}}</div>
                    </td>

                    <td>
                        <div [ngClass]="position.pnlPercentage | classpipe "> {{position.pnlPercentage | number:'0.2-2' | percentPipe}}</div>
                    </td>

                    <td>
                        <div>{{position.dividendYield | number:'0.2-2'}}%</div>
                    </td>

                    <td style="text-align:left" >
                        <div>{{position.sector}}</div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog header="Symbol Analytics" [(visible)]="symbolDialogShow" showEffect="fade"
        [modal]="true" [style]="{width: '85vw'}" [breakpoints]="{'960px': '90vw', '640px': '97vw'}">
        <app-symbol-detail-modal [symbol]="selectedSymbol"></app-symbol-detail-modal>
    </p-dialog>

</div>