.DS_Store
e2e
.idea
/dist
/node_modules
/npm-debug.log
/package-lock.json
*.pyc
karma.conf.js
website-A11.iml
.vscode
git-crypt-key
.venv
ENV_DIR
/venv
.env*
.env
sv_docker_host_2025.pem
backend/.env.dev
backend/.env.prod
jenkins
.angular
venv312
.env.jenkins
ssl/
*.key
*.crt
docs/ARCHITECTURE.md
