.DS_Store
e2e
.idea
/dist
/node_modules
/npm-debug.log
/package-lock.json
*.pyc
karma.conf.js
website-A11.iml
.vscode
git-crypt-key
.venv
ENV_DIR
/venv
.env*
.env
sv_docker_host_2025.pem
backend/.env.dev
backend/.env.prod
jenkins
.angular
venv312
.env.jenkins
ssl/
*.key
*.crt
docs/ARCHITECTURE.md
reference-angular/docker-compose.dev.yml
reference-angular/docker-compose.prod.yml
.gitignore
reference-angular/2022-simplevisor.pem
reference-angular/deploy.zip
reference-angular/docker-compose.yml
reference-angular/setup/python
reference-angular/setup/2022-simplevisor.pem
reference-angular/src/conf/apache-conf/simplevisor-certs/cce11e9ba5bcae57.pem
reference-angular/src/conf/apache-conf/simplevisor-certs/simplevisor.csr
reference-angular/src/conf/apache-conf/ssl_csr/server.csr
reference-angular/src/conf/apache-conf/openssl.cnf
reference-angular/src/conf/api-keys.txt
reference-angular/src/environments/environment.prod.ts
reference-angular/src/environments/environment.ts
*.pem
*.zip
*tmpclaude-*-cwd
