<div class="p-p-2">
    <div class="p-grid"
        style="background-image: url('assets/thoughtfulmoney/TM-Background2.png'); background-size: cover; background-position: top; background-repeat: no-repeat;">
        <div class="p-col-12 p-lg-3 p-p-3 p-ac-center">
            <div class="p-grid">
                <div class="p-col-6 p-d-flex p-ai-center">
                    <div>
                        <img src="assets/thoughtfulmoney/RIA-logo.png" alt="SimpleVisor" class="responsive-image">
                    </div>
                </div>

                <div class="p-col-6">
                    <img src="assets/thoughtfulmoney/TM-Logo.png" alt="Thoguhtful Money" class="responsive-image">
                </div>
            </div>
        </div>

        <div class="p-col-12 p-lg-6 p-p-3">
            <div>
                Hi there - Adam Taggart here. From the details you've just provided, Thoughtful Money has matched you with RIA's SimpleVisor™ service. SimpleVisor™ combines professional portfolio management with modern technology - but uses real human insight to guide the decisions.
            </div>

            <div class="p-text-bold p-mt-5">
                Follow the simple steps below to learn about SimpleVisor™ and how you can quickly set up an account.
            </div>
        </div>

        <div class="p-col-12 p-lg-3">
            <div class="p-d-flex p-ai-center p-jc-center">
                <div>
                    <img src="assets/thoughtfulmoney/adam-taggart.png" alt="Adam Taggart" class="responsive-image" style="display: block; margin: 0 auto; width: 55%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <app-investing-solutions-info></app-investing-solutions-info>
</div>