.center-checkbox {
    vertical-align: middle;
}

.tail-box {
    padding: 0.5rem 1.5rem; 
    background: #eeeeee; 
    border-radius: 0.4rem;
}

.tail-slider {
    display: inline-block;
    width: 7rem;
    margin: 0 1rem;
}

.tail-length-number {
    display: inline-block;
    background: white;
    padding: 0.25rem 0.7rem;
    border-radius: 0.25rem;
}

.vertical-text {
    transform: rotate(90deg);
    display: inline-block;
    transform: rotate(90deg);
    text-align: left;
    font-weight: bold;
    transform-origin: left top;
}
