<div style="margin-top: 5rem; margin-left: 0;text-align: center;" *ngIf="!fundOverview">
    Processing....
</div>

<div class="p-grid" style="margin-top: 0; margin-left: 0;" *ngIf="fundOverview">
    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-col-12" style="font-weight: bold; padding-bottom: 0;">
                Description
            </div>
            <div class="p-col-12" style="padding-top: 0;">
                {{ isNA(fundOverview.longBusinessSummary) ? "N/A" : fundOverview.longBusinessSummary }}
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="p-grid">
            <div class="p-col-12" style="padding-bottom: 0;">
                <strong>Latest Price </strong>
                <span style="font-size: 0.8rem;color: gray;">({{ isNA(fundOverview.regularMarketTime) ? "N/A" :
                    fundOverview.regularMarketTime | date:'medium' }})</span>
            </div>

            <div class="p-col-12" style="padding-top: 0; padding-bottom: 0.75rem;">
                <strong style="font-size: 1.2rem;">{{ isNA(fundOverview.regularMarketPrice) ? "N/A" :
                    fundOverview.regularMarketPrice | currency }} </strong>
                <i class="pi pi-caret-down" *ngIf="fundOverview.regularMarketChange < 0"
                    style="color: red;font-weight: bold;"></i>
                <i class="pi pi-caret-up" *ngIf="fundOverview.regularMarketChange >= 0"
                    style="color: green; font-weight: bold;"></i>
                (<span [ngStyle]="{'color': (fundOverview.regularMarketChange < 0) ? 'red' : 'green'}">{{
                    isNA(fundOverview.regularMarketChange) ? "N/A" : fundOverview.regularMarketChange | currency
                    }}</span>)
                (<span [ngStyle]="{'color': (fundOverview.regularMarketChangePercent < 0) ? 'red' : 'green'}">{{
                    isNA(fundOverview.regularMarketChangePercent) ? "N/A" : fundOverview.regularMarketChangePercent |
                    percent:'1.2-2' }}</span>)
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12" style="font-weight: bold; padding-bottom: 0;">
                52 Week Range
            </div>
            <div class="p-col-6" style="text-align: left; padding: 0 0.5rem; font-size: 0.9rem;">
                {{ isNA(fundOverview.fiftyTwoWeekLow) ? "N/A" : fundOverview.fiftyTwoWeekLow | currency }}
            </div>
            <div class="p-col-6" style="text-align: right; padding: 0 0.5rem; font-size: 0.9rem;">
                {{ isNA(fundOverview.fiftyTwoWeekHigh) ? "N/A" : fundOverview.fiftyTwoWeekHigh | currency}}
            </div>
            <div class="p-col-12" style="padding: 0 0.5rem; ">
                <p-progressBar
                    [value]="(fundOverview.regularMarketPrice-fundOverview.fiftyTwoWeekLow) * 100 / (fundOverview.fiftyTwoWeekHigh - fundOverview.fiftyTwoWeekLow)"
                    class="green" [style]="{height: '0.5rem', 'background-color': 'red'}" [showValue]="false">
                </p-progressBar>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-grid">
                    <div class="p-col-12" style="padding-bottom: 0;">
                        <strong>Last Close </strong>
                    </div>
                    <div class="p-col-12" style="padding-top: 0;">
                        {{ isNA(fundOverview.regularMarketPreviousClose) ? "N/A" :
                        fundOverview.regularMarketPreviousClose | currency }}
                    </div>
                </div>
            </div>

            <div class="p-col-6">
                <div class="p-grid">
                    <div class="p-col-12" style="padding-bottom: 0;">
                        <strong>Open </strong>
                    </div>
                    <div class="p-col-12" style="padding-top: 0;">
                        {{ isNA(fundOverview.regularMarketOpen) ? "N/A" : fundOverview.regularMarketOpen | currency }}
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12" style="font-weight: bold; padding-bottom: 0;">
                Day Range
            </div>
            <div class="p-col-6" style="text-align: left; padding: 0 0.5rem; font-size: 0.9rem;">
                {{ isNA(fundOverview.regularMarketDayLow) ? "N/A" : fundOverview.regularMarketDayLow | currency }}
            </div>
            <div class="p-col-6" style="text-align: right; padding: 0 0.5rem; font-size: 0.9rem;">
                {{ isNA(fundOverview.regularMarketDayHigh) ? "N/A" : fundOverview.regularMarketDayHigh | currency}}
            </div>
            <div class="p-col-12" style="padding: 0 0.5rem; ">
                <p-progressBar
                    [value]="(fundOverview.regularMarketPrice-fundOverview.regularMarketDayLow) * 100 / (fundOverview.regularMarketDayHigh - fundOverview.regularMarketDayLow)"
                    class="green" [style]="{height: '0.5rem', 'background-color': 'red'}" [showValue]="false">
                </p-progressBar>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-grid">
                    <div class="p-col-12" style="padding-bottom: 0;">
                        <strong>Volume </strong>
                    </div>
                    <div class="p-col-12" style="padding-top: 0;">
                        {{ isNA(fundOverview.regularMarketVolume) ? "N/A" : fundOverview.regularMarketVolume |
                        number:'1.0-0' }}
                    </div>
                </div>
            </div>

            <div class="p-col-6">
                <div class="p-grid">
                    <div class="p-col-12" style="padding-bottom: 0;">
                        <strong>Annual Div. </strong>
                    </div>
                    <div class="p-col-12" style="padding-top: 0;">
                        {{ isNA(fundOverview.trailingAnnualDividendRate) ? "N/A" :
                        fundOverview.trailingAnnualDividendRate | currency }}
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-grid">
                    <div class="p-col-12" style="padding-bottom: 0;">
                        <strong>Avg. Volume (3m) </strong>
                    </div>
                    <div class="p-col-12" style="padding-top: 0;">
                        {{ isNA(fundOverview.averageDailyVolume3Month) ? "N/A" : fundOverview.averageDailyVolume3Month |
                        number:'1.0-0' }}
                    </div>
                </div>
            </div>

            <div class="p-col-6">
                <div class="p-grid">
                    <div class="p-col-12" style="padding-bottom: 0;">
                        <strong>Div. Yield </strong>
                    </div>
                    <div class="p-col-12" style="padding-top: 0;">
                        {{ isNA(fundOverview.trailingAnnualDividendYield) ? "N/A" :
                        fundOverview.trailingAnnualDividendYield | percent:'1.2-2' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-lg-4 p-col-12">
        <p-table [value]="fundOverview.topHoldings" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: left;">Symbol</th>
                    <th style="text-align: left;width: 60%;">Name</th>
                    <th style="text-align: right;">Holdings</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-holding>
                <tr>
                    <td style="text-align: left;" class="symbol"><a
                            (click)="handleHoldingSymbolClick(holding.symbol)">{{holding.symbol}}</a>
                    </td>
                    <td style="text-align: left;width: 60%;">{{holding.name}}</td>
                    <td>{{holding.holdingPercent | percent:'1.2-2' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="p-lg-8 p-col-12">
        <div *ngIf="!raHoldingsScore" style="text-align:center;color: indianred;">
            <p></p>
            <p></p>
            <p></p>
            <p>Processing top 10 holdings relative score...</p>
        </div>
        <div *ngIf="raHoldingsScore">
            <app-relative-analysis-heatmap-symbols [tableData]="raHoldingsScore"
                (heatMapPairClicked)="handleHeatMapSymbolPairClick($event)">
            </app-relative-analysis-heatmap-symbols>
        </div>

    </div>

    <div *ngIf="raSelectedChartConfig" class="p-col-12" style="text-align: center;padding-bottom: 0;">
        <h4 style="margin-bottom: 0;">{{raSelectedChartConfig?.yColKey1}} / {{raSelectedChartConfig?.yColKey2}} -
            Analysis</h4>
    </div>

    <!-- <div class="p-col-12 p-md-6" style="font-weight: bold;font-size:1.2rem; text-align: right;">
        {{raSelectedChartConfig.yColKey1}}/{{raSelectedChartConfig.yColKey2}} Relative Score:
    </div> -->

    <!-- <div class="p-col-12 p-md-3 score-box" [style]="selectedSymbolScoreStyle">
        <div>{{selectedSymbolScore}}</div>
    </div> -->

    <div class="p-col-12" *ngIf="raHoldingsData && raSelectedChartConfig">
        <app-relative-analysis-chart [chartData]="raHoldingsData" [chartConfig]="raSelectedChartConfig">
        </app-relative-analysis-chart>
    </div>
</div>

<p-dialog header="Symbol Analytics" [(visible)]="symbolDialogShow" showEffect="fade" [modal]="true"
    [style]="{width: '85vw'}" [breakpoints]="{'960px': '90vw', '640px': '97vw'}">
    <app-symbol-detail-modal [symbol]="currentHoldingSymbol"></app-symbol-detail-modal>
</p-dialog>
