.selected {
    color: white !important;
    cursor: pointer;
    background-color: #004b8d !important;
    font-weight: bold !important;
}

.normal {
    color: #004b8d !important;
    cursor: pointer;
}