<div class="p-grid">
  <!-- <div class="p-col-12 p-p-1">
    <app-sidebar-card headerText="Recent Posts">
      <app-sidebar-card-content [posts]="recentPosts"></app-sidebar-card-content>
    </app-sidebar-card>
  </div> -->
  <div class="p-col-12 p-p-1">
    <app-sidebar-card headerText="Popular Posts">
      <app-sidebar-card-content [posts]="popularPosts"></app-sidebar-card-content>
    </app-sidebar-card>
  </div>
  <div class="p-col-12 p-p-1">
    <app-sidebar-card headerText="Newsletter Archives">
      <app-archive-card-content></app-archive-card-content>
    </app-sidebar-card>
  </div>
</div>