<div class="p-grid">
    <div class="p-col-12" style="font-weight: bold; font-size: 1.2rem;">
        How it works
    </div>

    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-col-12">
                <p-progressBar [value]="100" class="bargradient" [style]="{height: '0.5rem'}" [showValue]="false">
                </p-progressBar>
            </div>

            <div class="p-col-2">
                <div class="p-text-left p-pb-2">
                    <div class="text-tilt p-d-inline-block">-1.00</div>
                </div>

                <div
                    style="color: limegreen;text-align: left;writing-mode: vertical-lr;font-weight: bold; display: flex; align-items: flex-start">
                    Extremly Oversold
                </div>
            </div>

            <div class="p-col-2">
                <div class="p-text-left p-pb-2">
                    <div class="text-tilt p-d-inline-block">-0.75</div>
                </div>
                <div style="color: #218221;font-weight: bold;">
                    Oversold
                </div>
                Could be a good time to increase holdings.
            </div>

            <div class="p-col-4">
                <div class="p-grid">
                    <div class="p-col-3"></div>

                    <div class="p-col-3 text-tilt">
                        -0.20
                    </div>

                    <div class="p-col-3 text-tilt">
                        +0.20
                    </div>

                    <div class="p-col-3"></div>

                    <div class="p-col-12 p-text-center p-text-bold">
                        Fair Value
                    </div>
                </div>
            </div>

            <div class="p-col-2" style="text-align: right;">
                <div class="p-text-left p-pb-2">
                    <div class="text-tilt p-d-inline-block">+0.75</div>
                </div>

                <div style="color: #9b0a06;font-weight: bold;">
                    Overbought
                </div>
                Could be a good time to reduce holdings.
            </div>

            <div class="p-col-2 ob-align">
                <div class="p-text-left p-pb-2">
                    <div class="text-tilt p-d-inline-block">+1.00</div>
                </div>
                <div
                    style="color: red; text-align: left;writing-mode: vertical-lr;font-weight: bold; display: flex; align-items: flex-end">
                    Extremly Overbought
                </div>
            </div>
        </div>

    </div>

    <div class="p-col-12">
        <hr style="margin:0;">
    </div>

    <div class="p-col-12">
        <span style="font-weight: bold;">Note: </span> scores can stay extremely overbought
        or
        oversold for a few weeks so paitence is required at times.
    </div>
</div>