.box {
  width: 80%;
  margin-bottom: 40px;
  margin-left: 5%;
}

.info-div {
  padding: 2%;
}

.centered {
  display: flex;
  justify-content: center;
}

.risk-info {
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
}

.exclamation-circle-icon {
  margin-right: 7px;
  font-size: 23px;
}

.accept-form-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.country-select {
  width: 50%;
}

label {
  font-weight: bold;
}

.questions label {
  font-weight: 400;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.sidebar {
  background-color: var(--primary-color);
  padding: 40px;
  padding-top: 80px;
  color: #fff;
  font-weight: 300;
}

.sidebar-image {
  width: 100%;
  margin-bottom: 50px;
}

.sidebar-content-title {
  font-size: 25px;
  line-height: 1.3em;
  margin-bottom: 50px;
}

.sidebar-content-text {
    margin-bottom: 50px;
}

.radio-group {
  margin-bottom: 7px;

  input[type='radio'] {
    transform: scale(1.5);
  } 
}