.btn-normal {
    color: #ffffff;
    background-color: #f6a821;
    vertical-align: middle;
    font-size: 14px;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    padding: .385em .6em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    line-height: normal;
    margin-right: 2px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-green {
    background-color: var(--primary-color-dark);
}

.btn-blue {
    background-color: var(--text-color-secondary);
}

