<div>
  <h2 style="text-align: center;">Terms and Conditions</h2>


  <p>SimpleVisor, LLC. provides financial data and technical analysis on stocks and equity markets. By entering
    into our Term and Conditions agreement of usage of our website www.simplevisor.com we will not be held liable for any
    losses in your investment accounts based on any information provided on the website. All users should speak with
    their financial advisor before buying or selling any securities. Users should not base their investment decision
    upon www.simplevisor.com to make investment decision. By accessing the site you agree and are held liable for your own
    investment decisions.
  </p>
  <p>TERMS OF SERVICE AND END USER LICENSE AGREEMENT for SimpleVisor, LLC. </p>

  <p>SimpleVisor, LLC (the "Company") provides certain services (collectively, "Services") through the
    http://www.simplevisor.com website (the "Website"). Access to and use of the Website or the Services provided therein is
    subject at all times to these Terms of Service and End User License Agreement ("Terms of Service"). </p>

  <p>EACH TIME YOU ACCESS OR USE THIS WEBSITE OR THE SERVICE, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE AND
    REPRESENT THAT YOU HAVE READ AND UNDERSTOOD THESE TERMS OF SERVICE AND AGREE TO BE LEGALLY BOUND BY THEM. IF YOU DO
    NOT AGREE TO BE BOUND BY (OR CANNOT COMPLY WITH) ANY OF THESE TERMS OF SERVICE, PLEASE EXIT FROM THE WEBSITE. ANY
    REFERENCES HEREIN TO "YOU" AND "YOUR" REFER TO BOTH YOU AND SUCH PERSON AND LEGAL ENTITY ON WHOSE BEHALF YOU ACT, IF
    ANY. </p>

  <p>The Company may, from time to time, modify, amend, or supplement these Terms of Service, and post those changes on
    the Terms of Service page. Such modifications, amendments or supplements shall be effective immediately upon posting
    on the Website. You are responsible for periodically checking the Website for changes to these Terms of Service. If
    you do not agree to be bound by (or cannot comply with) these Terms of Service as modified, you agree that your sole
    remedy is to cease using the Services by canceling your Account or not using the service. Your continued use of the
    Services constitutes your agreement to be bound by the amended Terms of Service. </p>

  <p>In using any portion of simplevisor.com, you agree to the Terms and Conditions governing the use of the service as
    described in this disclaimer. Our disclaimers, policies and terms are subject to change without notice.The
    simplevisor.com is not a registered as a broker-dealer or investment adviser either with the U.S. Securities and Exchange
    Commission or with any state securities authority. </p>

  <p>Commentaries, trading ideas, model trades nor data analytics represent our own opinions and should not be relied
    upon for purposes of effecting securities transactions or other investing strategies, nor should they be construed
    as an offer or solicitation of an offer to sell or buy any security. You should not interpret simplevisor.com opinions as
    constituting investment advice. Neither the publishers claim to have any non-public information regarding the
    companies mentioned in this site. Trade prices that appear on the site are posted by SimpleVisor, LLC.
    Real-time data sources, and may be different from what is achievable and are for guidance only. There may also be
    differences between the price as it appears in the diary and the current price that you see from your terminal due
    to delays in Internet connectivity, quote delays, refresh intervals in the case of the Web-based diary page, data
    entry errors, and market conditions, and also due to times when simplevisor.com is not available to make the trade at the
    moment a previously stated target has been met. Entries may at times be in error due to system or data-entry
    errors. </p>

  <p>The Company is an online financial tool and content platform relating to the financial markets (the "Content" or
    "Tool"). The Content or tool is produced without regard to individual levels of sophistication or investment
    experience, and without regard to the suitability of individuals who may access the content. You understand and
    agree that the Content or tool does not constitute a specific recommendation of any particular investment, security,
    portfolio, transaction, or strategy, nor that any specific course of action is suitable for any specific person. You
    understand and agree that no Company analysts or other personnel shall advise you with regard to your investments,
    and you therefore agree that you shall not attempt to contact the Company or any Company personnel seeking
    personalized investment advice. You further understand and agree that all Content is impersonal and not tailored to
    any specific investment needs and suitability requirements, including yours. </p>

  <p>You understand and agree that the opinions expressed in the Content or Tool are derived from sources generally
    believed to be reliable, but that the Company is not liable for any errors, omissions, or incomplete or out of date
    information in the Content. </p>

  <p><strong>Hypothetical performance results do not include trading commissions and other execution costs that would be
    incurred if the trades referenced in the diary or elsewhere on the site were actual trades. Past performance is no
    guarantee of future results. ></strong></p>

  <p>simplevisor.com cannot and do not assess, verify or guarantee the suitability or profitability of any particular
    investment. You bear responsibility for your own investment research and decisions and should seek the advice of a
    qualified securities professional before making any investment. As an express condition of using this service and
    anytime after ending the service, you agree not to hold any employees of simplevisor.com themselves liable for trading
    losses, lost profits or other damages resulting from your use of information in any form (Web-based, email-based, or
    downloadable software), and you agree to indemnify and hold simplevisor.com and their employees harmless from and against
    any and all claims, losses, liabilities, costs, and expenses (including but not limited to attorneys' fees) arising
    from your violation of this agreement. This paragraph is not intended to limit rights available to you or to us that
    may be available under the federal securities laws. </p>

  <p>STOCK ALERTS: SimpleVisor, LLC or simplevisor.com (the "Alerts") is virtual alerts providing examples of how an
    investor might employ the Content. The Alerts are not an actual recommendations or model portfolio of investments.
    These alerts are a methodology for generating technical indicators such as moving average crossovers, based on
    standard technical indicators. Indicators in the Alerts reflect closing end of day pricing and may not correspond to
    actual transactions. If you choose to track the Alerts' trade signals, you understand and agree that your actual
    results are likely to be different from the percentage returns reflected in the Alerts statistics. Differences may
    arise for a number of reasons, including but not limited to: The Alerts do not account for transaction costs; the
    Alerts do not account for margin interest costs; the Alerts do not account for time delay before Buy, Sell, or other
    signals are viewed by you, including delays in the delivery of email or other messages; the Alerts do not account
    for cash dividends; the Alerts generally do not account for corporate actions such as stock splits, rights, and
    warrants, though the cost basis of positions in the Alerts may occasionally be adjusted for the sake of accuracy,
    with all such adjustments being described in notes accompanying the positions in the Alerts; the Alerts do not
    consider possible lack of liquidity; the Alerts do not consider tax consequences; the Alerts trade signals do not
    indicate size of position; and the Alerts do not give asset allocation guidance. Past Performance are not an
    indication of future results. </p>
  <ul style="margin-left:30px">
    <li>
      1. ACCOUNT REGISTRATION AND POLICIES

      <p>By completing the registration process, you may establish an account ("Account") and register as a SimpleVisor, LLC Member ("Member"), and access and use the Service from the Website. As part of the registration
        process, a login ID and password will be assigned to your Account that you must use to access the Services. You
        are solely responsible for all activity on your Account and for the security of your computer system. You may
        not reveal, transfer or sell your Account login ID or password to any person who is not permitted to access the
        Services under the terms of your agreement with SimpleVisor, LLC("Services Agreement"), including
        without limitation third party users, nor may you permit such unauthorized persons or other third parties to
        access your Account. </p>

      (A) Charges and Billing

      <p>Terms of payment are within the Company's sole discretion and may be modified, amended or supplemented at any
        time and shall become effective upon posting on the Website. All applicable fees and other charges for services
        as well as any products marketed through the Website are payable by the 15th day of the quarter to which such
        fees or charges apply. The Company reserves the right to change prices at any time. The Company is not
        responsible for pricing, typographical, or other errors in any offer by the Company and reserves the right to
        cancel any service or product orders resulting from such errors. </p>

      (B) Termination of Account
      <ul style="margin-left:30px">
        <li>


          (i) Member. Subject to the terms described herein, each Member has the right to terminate such Member's
          Account at any time upon written notice to the Company. Each Member understands and agrees that the
          termination of a Member's Account is such Member's sole right and remedy with respect to any dispute,
          including, but not limited to, any related to, or arising out of: (A) any term of these Terms of Service or
          the Company's enforcement or application of these Terms of Service; (B) the Member's ability to access and/or
          use the Service; or (C) the amount or type of fees, surcharges, applicable taxes, billing methods, or any
          change to the fees, applicable taxes, surcharges or billing methods. The Company reserves the right to collect
          accrued fees and charges and costs incurred by the Company upon receipt of a Member's notice to cancel an
          Account.
        </li>
        <li>

          (ii) Company. The Company may terminate a Member's account at any time in its sole and absolute discretion for
          any reason including, without limitation, upon the occurrence of any one of the events:
          <ul style="margin-left:30px">
            <li>

              (a) Improper use of the Member's login ID or password.
            </li>
            <li>
              (b) The information provided by a Member during the Account registration process is found to be untruthful
              or inaccurate.
            </li>
            <li>
              c) Improper use of the information provided on the Website and/or taking any other action which adversely
              affects the Website, the Service, or the Company.
            </li>
            <li>
              (d) Any violation of these Terms of Service.
            </li>
          </ul>
          If the Company terminates an Account because of a Member's breach of these Terms of Service, the Company shall
          have no liability or responsibility to such Member or any third party.
        </li>
        <li>

          (iii) General. In the event an Account is terminated by the Member for any reason (other than the Company's
          permanent discontinuance of the Website), or by the Company for any of the reasons set forth in Section
          1(B)(ii) above, no refund will be granted and the Member will have no further access to the subject Account.
          Any delinquent or unpaid Account with unresolved disputes must be settled before the Company may allow a
          Member to register again. Any and all of a Member's personal information submitted to the Service, including,
          any Account information and password information will promptly be destroyed upon termination of the Service.
        </li>
      </ul>

    </li>
    <li>


      2. RESTRICTIONS AND OBLIGATIONS
      <ul style="margin-left:30px">
        <li>
          (A) Modification to Service
          The Company may at any time and from time to time revise, supplement, suspend, or discontinue, temporarily or
          permanently, the Service (or any part thereof) with or without notice to you, and terminate all licenses
          granted in these Terms of Service. You agree that neither the Company nor any of its affiliates, licensors,
          agents, or employees is liable to you or any third party for any revision, supplement, suspension, or
          discontinuation of the Service, and termination of any license.
        </li>
        <li>
          (B) End User License Agreement
          Your access to the Service is governed by this End User License Agreement "EULA." Be sure to carefully read
          and understand all of the rights and restrictions described herein. If you are employed by an entity and are
          accessing the Service using an ID and password provided by your employer, it is your responsibility to make
          sure that your use of the Services is consistent with the terms of the Services Agreement between your
          employer and the Company. By accessing the Service, you agree to be bound by the terms of this EULA and any
          other terms and conditions applicable to you or the entity with which you are associated. If you do not agree
          to these terms, you may not access the Service. The Service and the information that you are able to access
          through the Service are protected by copyright laws and international copyright treaties, as well as other
          intellectual property laws and treaties.
          <ul style="margin-left:30px">
            <li>
              (i) Grant of License. This EULA grants you the following rights:
              (a) Access and Use of the Service. Your access to and use of the Service is governed in part by this EULA,
              as well as by any other agreement that may exist between you and the Company. By accessing and using the
              Service, you agree to comply with all of the terms and conditions hereof. You are granted a non-exclusive,
              nontransferable, nonsublicensable right and license to access and use the Service for internal business
              (or personal, as the case may be) purposes only. This right and license to access and use the Service is
              personal to your employer (or to you, as the case may be) and is not transferable to any other person or
              entity, nor may it be shared, resold, rented, licensed or leased by you. You are responsible for the
              manner in which you use the Service and for ensuring that all use of the Service complies fully with the
              provisions of this EULA. You shall be responsible for protecting the confidentiality of your password(s),
              if any. The Company shall have the right at any time to change or discontinue any aspect or feature of the
              Service, including (but not limited to) content, hours of availability, and equipment needed for access or
              use.

              (b) Reservation of Rights. All rights not expressly granted are reserved by the Company. Access to the
              Service is granted under license; no ownership rights are transferred to you by the Company. Except for
              the licensee granted herein, the Company retains all right, title and interest in and to the Service and
              all information and content provided thereunder.
            </li>
            <li>
              (ii) Use of the Services. You shall use the Service for lawful purposes only, and in a manner consistent
              with the terms of this EULA and any other terms and conditions applicable to you or the entity with which
              you are associated.
              (iii)Restrictions.
              <ul style="margin-left:30px">
                <li>
                  (a) Limitations of Reverse Engineering, Decompilation and Disassembly. You may not reverse engineer,
                  decompile, or disassemble any material available on the Service, except and only to the extent that
                  such activity is permitted by applicable law notwithstanding this limitation.
                </li>
                <li>
                  (b) Rental. You may not rent, lease or lend access to the Service.
                </li>
                <li>
                  (c) Redistribution. You may not redistribute any information provided by the Service to any other
                  person, except to the extent you are permitted to do so by any other terms and conditions applicable
                  to you or the entity with which you are associated.
                </li>
                <li>
                  (d) Other Restrictions. You agree not to engage in the following:
                </li>
              </ul>
              (i) Infringe upon the intellectual property rights of the Company or any third party.
              Alter or cancel another Member's Account.
            </li>
            <li>
              (iii) Impersonate another person, indicate that you are a Company employee, or attempt to mislead Members
              or guests by indicating that you represent the Company or any of the Company's licensors or affiliates.
            </li>
            <li>
              (iv) Attempt to get a log-in I.D., password, or other Account information, or any other private
              information from a Member.
            </li>
            <li>
              (v) Engage in or promote or encourage any illegal activity including hacking, cracking or distribution of
              counterfeit software for the purpose of accessing the Service or Website.
            </li>
            <li>
              (vi) Modify, delete or create derivative works of the Service or Website, or any component thereof.
            </li>
            <li>
              (vii) Interfere with, hack into or decipher any transmissions to or from the servers running the Service.
            </li>
            <li>
              (viii) Do anything that interferes with the ability of other Members to access and use the Website and the
              Service or that which adversely affects the Website, the Service and the Company's business.
            </li>
            <li>
              (ix) Attempt (or authorize, encourage or support others' attempts) to circumvent, reverse engineer,
              decrypt, break or otherwise alter or interfere with the Service or any component thereto.
            </li>
            <li>
              (x) Use information disclosed on the Website for any purpose that is not permitted by the license granted
              by the Company, including, without limitation, for a third party's commercial use.
            </li>
            <li>
              (xi) Acts which violate any applicable laws or regulations in connection with the manner in which you
              access or use the Service or Website.
            </li>
          </ul>
          <p>(iv) Ownership. You understand and acknowledge that the Website, the Service and information provided to
            you
            in connection therewith is owned solely and exclusively by the Company, its licensors or its affiliates, or
            suppliers, and are protected by applicable laws and regulations, and international treaties relating to
            copyrights, trademarks, and other intellectual property rights. Under no circumstances will you obtain any
            ownership interest in any such proprietary subject matter pursuant to these Terms of Service or
            otherwise. </p>
          <p>(C) Company Trademarks
            The Company name, its logo(s), and associated brand names and domain names are trademarks of the Company.
            The
            Company trademarks and trade dress may not be used in connection with any product or service that is likely
            to
            cause confusion among customers, or in any manner can be interpreted as business disparagement. All other
            trademarks not owned by the Company that may appear on the Website are the property of their respective
            owners. You may not remove any copyright notice or other notification or trade name or marks of the Company
            or
            its suppliers that appear in the information displayed on the Website. You may not use, and nothing
            contained
            on the Website grants, by implication, waiver, estoppel or otherwise, any right to use, any trademark
            displayed on the Website without the written permission of the Company or the respective owner of such
            trademark, service mark or logo. </p>
          <p>(D) Website
            The Website is provided on an "as is" and "as available" basis. The Company reserves the exclusive right and
            may, at any time and without notice and liability to you, modify or discontinue the Website, either
            temporarily or permanently. Temporary interruptions in the availability of the Website may occur from time
            to
            time as normal events. Under no circumstances will the Company be held liable for any damages resulting from
            such interruptions. The Website may include technical inaccuracies, typographical errors or may enable you
            to
            access or download harmful or malicious code introduced onto the Internet by third parties. The Website is
            made available internationally and may contain references to programs or services of the Company and/or its
            suppliers that are not available in your location. Such references do not imply that the Company or its
            suppliers intend to make available such products, programs or services in your location. </p>
          <p>
            3. DISCLAIMER OF WARRANTIES YOU HEREBY EXPRESSLY AGREE THAT ACCESS TO AND USE OF THE WEBSITE, THE SERVICE,
            AND
            THE INTERNET IS AT YOUR SOLE RISK. THE WEBSITE, THE SERVICE, THIRD-PARTY SERVICES, AND PRODUCTS AND ANY
            INFORMATION DELIVERED TO YOU IN CONNECTION THEREWITH ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS FOR
            YOUR USE, WITHOUT WARRANTIES OF ANY KIND BY THE COMPANY, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT
            LIMITATION, ANY WARRANTY OF MERCHANTIBILITY, NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE. THE
            COMPANY PROVIDES THE SERVICE ON A COMMERCIALLY REASONABLE BASIS AND DOES NOT GUARANTEE THAT YOU WILL BE ABLE
            TO ACCESS OR USE THE SERVICE AT TIMES OR LOCATIONS OF YOUR CHOOSING, OR THAT THE COMPANY WILL HAVE ADEQUATE
            CAPACITY FOR THE SERVICE AS A WHOLE OR IN ANY SPECIFIC GEOGRAPHIC AREA.4. LIMITATIONS OF LIABILITIESYOU
            ACKNOWLEDGE AND AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH THE COMPANY, ITS LICENSORS,
            SUPPLIERS OR AFFILIATES IS TO STOP USING THE SERVICE, AND TO CANCEL YOUR ACCOUNT. YOU ACKNOWLEDGE AND AGREE
            THAT IN NO EVENT WILL THE COMPANY, ITS LICENSORS, SUPPLIERS, OR AFFILIATES BE LIABLE FOR ANY ACT OR FAILURE
            TO
            ACT BY THEM OR ANY OTHER PERSON REGARDING CONDUCT, COMMUNICATION OR CONTENT ON THE SERVICE. MOREOVER, IN NO
            CASE SHALL THE COMPANY'S OR ITS LICENSORS', SUPPLIERS', AFFILIATES', EMPLOYEES', OFFICERS', MEMBERS' OR
            DIRECTORS' (COLLECTIVELY, "COMPANY AFFILIATES") LIABILITY TO YOU EXCEED THE AMOUNT THAT YOU PAID TO THE
            COMPANY FOR THE SERVICE DURING THE ONE (1) YEAR PERIOD PRIOR TO THE DATE ON WHICH THE DAMAGES FIRST AROSE.
            FURTHERMORE, IN NO CASE SHALL ANY COMPANY AFFILIATE BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL,
            CONSEQUENTIAL OR PUNITIVE DAMAGES (INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM THEFT OR LOSS OF
            PROFITS, DATA, USE, GOODWILL, BUSINESS INTERRUPTION, OR OTHER INTANGIBLE LOSS) ARISING FROM YOUR USE OF THE
            SERVICE, THE INTERNET OR FOR ANY OTHER CLAIM RELATED IN ANY WAY TO YOUR USE OF THE SERVICE, WHETHER BASED ON
            WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT ANY COMPANY AFFILIATE HAS BEEN ADVISED
            OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE
            LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, THE
            COMPANY
            AFFILIATES' LIABILITY SHALL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW. THE COMPANY DOES NOT ENDORSE,
            WARRANT OR GUARANTEE ANY THIRD PARTY PRODUCT OR SERVICE OFFERED THROUGH THE SERVICE AND WILL NOT BE A PARTY
            TO
            OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF
            PRODUCTS
            OR SERVICES.</p>
          <p>5. LINKS WITH OTHER SITESFor the convenience of our users, the Website may provide certain links to web
            sites
            provided by third parties. The Company is not responsible for the content of any other web site linked to or
            from the Website. If you link to another site, you leave the Website and you do so entirely at your own
            risk.
            The Company provides links from the Website to other sites solely as a convenience to you and in no way
            should
            this be interpreted as a referral or endorsement of any content, sponsor or owner of any other site. THE
            COMPANY DISCLAIMS ALL WARRANTIES, CONDITIONS OR OTHER TERMS EXPRESS OR IMPLIED AS TO ANY SUCH LINKED SITE,
            INCLUDING, WITHOUT LIMITATION, AS TO ACCURACY, OWNERSHIP, VALIDITY, OR LEGALITY OF ANY CONTENT OF A LINKED
            SITE. </p>
          <p>6. INDEMNIFICATION You agree to defend, indemnify and hold harmless the Company and its licensors,
            affiliates,
            suppliers, employees, officers, and directors from all claims for liabilities, losses and expenses,
            including
            reasonable attorneys' fees, from third parties arising from any breach of these Terms of Service. The
            Company
            reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise
            subject to indemnification by you. In that event, you shall have no further obligation to provide
            indemnification to the Company in that matter. </p>

          <p>7. GOVERNING LAW
            The Website is operated and controlled from the Company's offices in Connecticut, U.S.A. It can be accessed
            from various countries of the world. The laws of the state of Connecticut, without regard to conflicts of
            law
            provisions, will apply to all matters arising out of or in connection with the Website and your connection
            to
            and use of the Website and/or the Services. By accessing or using the Website and/or the Services, you
            submit
            and consent to the exclusive jurisdiction of the United States District Court for the District of
            Connecticut
            and the state courts located in New Haven, Connecticut, with respect to any dispute or cause of action
            arising
            out of or in connection with these Terms of Service and/or your use of the Website or the Service. </p>

          <p>8. VOID WHERE PROHIBITED The Company makes no representation or warranty that any material on the Website
            or
            the Service is lawful in every jurisdiction from which such content can be accessed, or is available for use
            in all jurisdictions. If you access or use the Website or the Services from a jurisdiction outside of the
            United States you are responsible for compliance with all applicable local laws. </p>
          <p>9. MISCELLANEOUS
            If any provision of these Terms of Service is held to be invalid or unenforceable, that provision will be
            deemed to be restated to reflect as nearly as possible the original intention in accordance with applicable
            law, and the remainder of these Terms of Service will remain in full force and effect. These Terms of
            Service,
            the Services Agreement, if any, and the Company's privacy policy (the "Privacy Policy") constitute the
            entire
            agreement between the parties with respect to the subject matter hereof and supersede and replace all prior
            or
            contemporaneous understandings or agreements, written or oral, regarding such subject matter. Any waiver of
            any provision of these Terms of Service will be effective only if in writing and signed by the Company. The
            failure of party to assert any right under these Terms of Service shall not be considered a waiver of that
            party's right will remain in full force and effect. In addition, these Terms of Service, the Services
            Agreement and the Privacy Policy, including the Company's enforcement of those policies and agreements, are
            not intended to confer, and do not confer, any rights or remedies upon any person. These Terms of Service
            and
            all related documents are written and shall be interpreted in the English language. </p>

          <p>SimpleVisor, LLC .Statement Regarding Material Non-Public Information ("MNPI")
            SimpleVisor, LLC.(simplevisor.com, the "Firm") has established written MNPI procedures, both in its
            Compliance Manual and in its Code of Ethics, and provides both initial training and continuing education to
            employees regarding appropriate handling of MNPI. Such training and procedures include, but are not limited
            to, a duty to promptly report to the Firm's compliance department any suspected MNPI; a prohibition against
            knowingly sharing MNPI; and a prohibition against providing research to any subscriber on the basis of
            MNPI. </p>

          <p>SimpleVisor, LLC believes its policies and procedures covering MNPI are reasonably designed to
            prevent the mishandling or transmission of MNPI, and to prevent dissemination of information to subscribers
            in the event the Firm determines it is in possession of MNPI. The Firm believes that these policies and
            procedures, and training provided to employees, meet or exceed industry standards, and that they will
            prevent the transmission to subscribers of MNPI, or of research, information or analysis based on MNPI. </p>

          <p>SimpleVisor, LLC.("simplevisor.com") Privacy Policy – January 2010
            SimpleVisor, LLC.("simplevisor.com" or "we" or "us") is committed to protecting and respecting your
            privacy. This Privacy Statement sets out our privacy policy and explains what we do with the personal
            information that we collect from you in regard to your subscription to one or more of our newsletter
            services. These are variously known by the brand names simplevisor.com. In the future, additional newsletter
            products may be added, and other brand names may be used. Collectively, we refer to all these business lines
            as "services". Please read the following to understand our practices regarding personal information and how
            they affect you as you use our features and services. </p>

          Disclosure of Your Personal Information:

          <p>SimpleVisor, LLC will not disclose any personally identifiable information about individual users,
            except as described in this Privacy Statement. We do not give, rent, lend, or sell individual information to
            anyone, although we may provide aggregate information for purposes of marketing our services. For
            As for individually identifiable information, we may disclose it only under the following circumstances:We
            may disclose information to others when we have your consent, for example if you request that we introduce
            you to a broker or money manager with whom we have a relationship. Once the third party receives the
            information, it will handle the information under its own privacy policies, at which point SimpleVisor, LLC cannot be responsible for
            Actions they may take. </p>

          <p>If you sign up for a custom service or consulting contract that relies upon third parties for important
            elements, we will provide your personal information to the third parties so that they can provide you with
            their services, and those companies will treat the data under their own policies. We will tell you about
            these entities at the time you sign up for the service, and you will be able to choose how your personal
            information is handled in the context of that relationship. </p>

          <p>We may disclose your personal information as required by applicable law, or in response to legal process,
            to protect the rights or property of simplevisor.com, or to protect the safety of simplevisor.com, our users, or
            others. </p>

          <p>SimpleVisor, LLC and its subsidiaries and affiliates may share information for site administration
            or subscription fulfillment, and to notify you of events and services that may interest you. Security
            Measures to Protect Your Information:

            SimpleVisor, LLC is committed to protecting your personal information. We store information you
            provide us on our secure servers. Further, the information you provide when making a purchase is
            encrypted. </p>

          <p>Your subscription is password-protected. Only you have access to the password-protected areas. Do not share
            your password with anyone. SimpleVisor, LLC will never ask you for your password in an unsolicited
            phone call or email, and you should not respond to any such request, as it will not come from us. If you are
            using a computer to which others have access, always remember to log out and close your browser window when
            leaving our site. </p>

          <p>We respect the privacy of our subscribers and want to make clear to everyone how we use personal
            information that SimpleVisor, LLC website and service acquires during the course of its operations.
            We will never sell or rent your personal information to any third party. </p>

          <p>Information We Collect We may collect personally-identifiable information about you. This may include your
            full name, e-mail addresses, physical addresses, phone numbers, bank account or credit card information,
            payment history, subscriber correspondence, and records of violations or alleged violations of the terms and
            conditions that govern your access to and use of SimpleVisor, LLC website and service. We may
            collect other limited information about you. This may include information about the type of browser you are
            using, the Internet Protocol address of your originating Internet service Provider, and your viewing and
            search history. We do not connect this limited information about you with any personally-identifiable
            information about you that we may have. Information Obtained from Third Parties. If you provide us personal
            information about others, or if others give us your information, we will only use that information for the
            specific reason for which it was provided to us. </p>
        </li>
      </ul>


    </li>
  </ul>
</div>
