<div class="p-grid p-jc-center">
    <div class="p-col-12 p-sm-8 p-md-6 border-shadow p-p-4 bg-white">
        <!-- Information -->
        <div>
            <h3>Reset Password Request</h3>
            <p class="p-text-justify" *ngIf="!isUserEmailSent">
                Please enter your registered email. You will receive an email with reset password link. If you face any issues or do not remember your registered email, please
                <a routerLink="/contact-us">
                    <span>
                        Contact Us
                    </span>
                </a>.
            </p>
        </div>

        <!-- Email -->
        <div class="p-fluid p-mt-3 p-mb-6"  *ngIf="!isUserEmailSent">
            <label for='email' class="p-text-bold">
                Email
                <span class="error-msg">*</span>
            </label>

            <input 
                autocomplete="off" 
                type="email" 
                pInputText 
                id='email' 
                class='form-control p-inputtext'
                [(ngModel)]='userEmail' 
                required 
                [pattern]='emailPattern' 
                #email='ngModel' 
                (focus)="clearUserMessage()"
                (click)="$event.target.select()"
            />

            <div *ngIf='email.errors && (email.dirty || email.touched)'>
                <div *ngIf='email?.errors.required' class='error-msg text-small'>Email is required</div>
                <div *ngIf='email?.errors.pattern' class='error-msg text-small'>Email not valid</div>
            </div>
        </div>

        <!-- Captcha -->
        <div class="p-text-center p-p-3"  *ngIf="!isUserEmailSent">
            <div class="p-d-inline-block">
                <re-captcha 
                    #captcha 
                    [siteKey]="siteKey" 
                    (resolved)="showResponse($event)"
                    (expired)="resetCaptcha()"
                ></re-captcha>
            </div>
        </div>

         <!-- Message for User -->
         <div class="p-text-center p-p-2" *ngIf="msg">
            <p-message [severity]="msgType" [text]="msg" styleClass="p-mr-2"></p-message>
        </div>

        <!-- Request Button -->
        <div class="p-text-center"  *ngIf="!isUserEmailSent">
            <button 
                [disabled]="email?.errors || loading || msg || !isCaptchaVerified" 
                label="Send Reset Link" 
                (click)="sendResetLinkEmail()" 
                pButton
            ></button>
        </div>

        <!-- Retry Button -->
        <div class="p-text-center"  *ngIf="isUserEmailSent">
            <div class="p-text-center p-mt-3">Button will be enabled in {{ remainingSeconds }} seconds.</div>
            <button 
                [disabled]="isTryAgainButtonDisabled"
                label="Try Again" 
                (click)="resetForm()" 
                pButton
            ></button>
        </div>
    </div>
</div>