<div class="p-grid p-jc-center" style="background:white;padding:0px;margin:0px">
    <img src="assets/images/trade-landing-page/main-banner.png" width="100%">
    <div class="p-col-12">
        <div class="p-grid p-jc-center">
            <div class="p-col-12 p-lg-4 p-md-6" style="text-align: center; font-size: 1.25rem;">
                <div style="display: inline-block; padding:0.5rem;">Already a Client? </div>
                <a pButton href="https://portal.tradingfront.com/riaadvisors/auth/login" label="Login Here"></a>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-9 p-lg-7" style="text-align:center;">
        <span style="font-weight:bold;font-size:26px;color:#0377BD;">
            Do you know what profile you* want to invest in?
        </span>
        <p style="margin-top:10px;line-height: 1;font-size:18px;font-weight:none;">Just click one
            of the buttons below and answer a question and you will be directed to the portfolio
            that fits your investment goals.
        </p>
    </div>
    <div class="p-col-12" style="text-align: right;font-size: 0.8rem;">
        *You must be a U.S. citizen/resident with a U.S. Mailing Address
    </div>

    <div class="p-col-12">
        <div class="p-grid p-lg-offset-1">
            <div style="text-align:center;" class="p-col-6 p-md-4 p-lg-2">
                <a [href]="cashAlternativeLink" style="font-weight:bold;font-size:12px;cursor:pointer;">
                    <img src="assets/images/trade-landing-page/Cash.png" width="60%">
                </a>

                <div>
                    <p class="imageText">Cash</p>
                    <p class="imageText">Alternatives</p>
                    <a [href]="cashAlternativeLink" style="font-weight:bold;font-size:12px;cursor:pointer;">
                        Get Started
                    </a>
                </div>
            </div>
            <div style="text-align:center;" class="p-col-6 p-md-4 p-lg-2">
                <img src="assets/images/trade-landing-page/Equity.png" width="60%">
                <div>
                    <p class="imageText">SimpleVisor</p>
                    <p class="imageText">Equity Portfolios</p>
                    <a
                        href="https://portal.tradingfront.com/riaadvisors/client/questionnaire/welcome?questionnaireToken=e5a154c8d141e85cb61bde38a8d840ac">
                        Get Started
                    </a>
                </div>
            </div>
            <div style="text-align:center;" class="p-col-6 p-md-4 p-lg-2">
                <img src="assets/images/trade-landing-page/ETF.png" width="60%">
                <div>
                    <p class="imageText">SimpleVisor</p>
                    <p class="imageText">ETF Portfolios</p>
                    <a
                        href="https://portal.tradingfront.com/riaadvisors/client/questionnaire/welcome?questionnaireToken=f213da8c03e51c5b2c240698d6732988">
                        Get Started</a>
                </div>
            </div>
            <div style="text-align:center;" class="p-col-6 p-md-4 p-lg-2">
                <img src="assets/images/trade-landing-page/Growth.png" width="60%">
                <div>
                    <p class="imageText">All-Equity</p>
                    <p class="imageText">Growth Portfolios</p>
                    <a
                        href="https://portal.tradingfront.com/riaadvisors/client/questionnaire/welcome?questionnaireToken=eaa04d9762c8257382d07b29c9c359cf">
                        Get Started</a>
                </div>
            </div>
            <div style="text-align:center;" class="p-col-6 p-md-4 p-lg-2">
                <img src="assets/images/trade-landing-page/ESG.png" width="60%">
                <div>
                    <p class="imageText">ESG Focused</p>
                    <p class="imageText">Portfolios</p>
                    <a
                        href="https://portal.tradingfront.com/riaadvisors/client/questionnaire/welcome?questionnaireToken=681af6a86bd98a01f98b3843bf4b29b3">
                        Get Started</a>
                </div>
            </div>
            <div style="text-align:center;" class="p-col-6 p-md-4 p-lg-2"><img
                    src="assets/images/trade-landing-page/New_Tech.png" width="60%">
                <div>
                    <p class="imageText">New Technology/</p>
                    <p class="imageText">Disruptor Portfolio</p>
                    <a
                        href="https://portal.tradingfront.com/riaadvisors/client/questionnaire/welcome?questionnaireToken=4b67845cfdcd945093e872532670abeb">
                        Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12">
        <hr style="margin-left:5em;width:90%;text-align:center;margin-bottom:35px;">

        <div style="text-align:center;font-weight:bold;font-size:26px;color:#0377BD;">
            Not sure what portfolio you should use? No problem.
        </div>
        <p style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1;font-size:18px;font-weight:none;">
            Just click the button below and take our Risk Profile Questionnaire and we will pick the best fit for you.
        </p>
        <div style="text-align:center;margin-bottom:40px;">
            <a href="https://portal.tradingfront.com/riaadvisors/client/questionnaire/welcome?questionnaireToken=c36f3166ef2b689104157cfd4937b151"
                style="font-size:14px;color:white;background:#0377BD;padding:10px;" icon="pi pi-angle-right"> > Take the
                Risk Profile Questionnaire</a>
        </div>

        <hr style="margin-left:5em;width:90%;text-align:center;margin-bottom:35px;">

        <div style="text-align:center;font-weight:bold;font-size:26px;color:#0377BD;">
            Commonly Asked Questions
        </div>

        <div class="p-grid p-jc-center" style="padding: 1.5rem;">
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    What’s The Cost?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    The automated portfolio management service is 0.50% annually billed quarterly.
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    How Do I Change My Portfolio Model?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    To change your model at any time, send a request to <a href="/contact-us"
                        style="font-size:17px;color:#0377BD;">contact&#64;simplevisor.com</a>.
                    The trading team will rebalance your current portfolio into the model you requested.
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    Do You Have Fractional Share Trading?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    Yes. We offer fractional share trading so you can own the shares of higher-priced stocks in your
                    portfolio model.
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    Can I Link My Other Accounts To My Account Portal?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    Yes. Once you create your <a href="SimpleVisor.com"
                        style="font-size:18px;color:#0377BD;">SimpleVisor.com</a>
                    trading account, you can link accounts held at TD Ameritrade, Schwab, and Fidelity to your portal
                    for consolidated viewing.
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    Do You Have An App For My Phone?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    Yes. We will soon provide an app to allow you access to your <a href="SimpleVisor.com"
                        style="font-size:18px;color:#0377BD;">SimpleVisor.com</a>
                    accounts via your mobile device.
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    How Do I Roll Over A 401k Plan?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    If you have a 401k plan you want to roll over
                    <a href="https://help.tradingfront.com/hc/en-us/articles/900001202343-Move-an-employer-sponsored-retirement-plan-to-an-IRA-Rollover-Account"
                        style="font-size:18px;color:#0377BD;">
                        follow these steps
                    </a>
                    or send a request by
                    <a href="/contact-us" style="font-size:18px;color:#0377BD;">
                        clicking here
                    </a>
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    How Do I Transfer An Existing Account To SimpleVisor?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    Once you register, go to your client portal and on the left-hand side click ACAT. Or, send a request
                    by
                    <a href="/contact-us" style="font-size:18px;color:#0377BD;">
                        clicking here
                    </a>
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    Once My Account Is Opened Is It Immediately Put Into My Model Allocation?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    No. We look for market pullbacks to onboard accounts into your selected model.
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    How Often Are Portfolio Models Rebalanced?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    The SimpleVisor team rebalances all models each quarter.
                </p>
            </div>
        
            <div style="text-align:center;" class="p-col p-col-12 p-lg-3 p-md-4 p-sm-6">
                <div style="text-align:center;font-weight:bold;font-size:20px;color:#2C3A4C;">
                    I Need Help Deciding What’s Best For Me?
                </div>
                <p
                    style="text-align:center;margin-top:10px;margin-bottom:30px;line-height: 1.2;font-size:18px;font-weight:none;overflow-wrap: anywhere;">
                    Not a problem. Simply send a request by
                    <a href="/contact-us" style="font-size:18px;color:#0377BD;">
                        clicking here
                    </a>
                    and we will contact you and walk you through the process to get started.
                </p>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12"
                style="margin-top:20px;text-align:center;font-weight:bold;font-size:26px;color:#0377BD;">
                Have Another Question?
            </div>
            <div class="p-col-12" style="text-align:center;">
                <p style="text-align:center;font-size:18px;line-height:0;margin-top:5px;">
                    If you have another question,
                </p>
                <p style="text-align:center;font-size:18px;">
                    please send it to <a href="/contact-us"
                        style="font-size:17px;color:#0377BD;">contact&#64;simplevisor.com</a>
                </p>
                <a href="/contact-us" style="font-size:14px;color:white;background:#0377BD;padding:10px;"
                    icon="pi pi-angle-right"> > Ask a Question</a>
            </div>
        </div>

        <div class="p-grid" style="margin-top:20px;">
            <div class="p-col-12">
                <p class="disclaimerText">Disclosure and Privacy Policy | Newsletter Disclaimer | BROKERCHECK.FINRA.ORG
                    |
                    Customer Relationship Summary (Form CRS)
                </p>
                <p class="disclaimerText">Real Investment Advice is powered by RIA Advisors, an investment advisory firm
                    located in Houston, Texas with more than $800 million under management.
                    As a team of certified and experienced professionals, we seek to provide our clients and educational
                    services and the necessary information and tools to educate you in the field of finance, investing
                    and
                    economics.
                    To this end , you can use the Real Investment Advice Platform to avail yourself of various video,
                    audio
                    and proprietary collections of information at your leisure to learn and gather the necessary
                    information
                    that you may need in the field of investment news, investment opinion,
                    financial news, financial opinion, economic news and economic opinions, finance, investing and
                    economics. Utilizing the functionality and tools provided by Real Investment Advice, you can access
                    this
                    information in variety of ways, including via video and audio programming,
                    audio and video visual media content streaming services, downloadable audio-visual media, uploaded,
                    posted or tagged third-party videos, receiving or viewing audio and video clips, blogs, podcasts,
                    and Youtube videos, all of which are accessible on the Real Investment Advice media platform and/or
                    various internet and communications links that are accessible via the Real Investment Advice
                    Platform
                    and allow for the broadcasting, transmission and streaming of the information
                    and audio-visual content to your media devices and other communications platforms for your viewing
                    and
                    listening pleasure. All of these tools and sources of information are made available to you so that
                    you
                    can utilize the same to make the right financial, economic and investment decisions.
                </p>
            </div>
        </div>

    </div>
</div>