<header>
  <img class="header-logo" src="/assets/home/simplevisor-light.svg" alt="Logo" />

  <h1 class="page-title">Let us do the work for you!</h1>

  <img src="/assets/home/Down.svg" />
</header>

<section class="how-it-work">
  <h3 class="how-it-work-title">How It Works</h3>

  <h2 class="section-title">It's simple.<br />Put SimpleVisor to work today.</h2>

  <div class="section-container">
    <div class="section-content">
      <ol class="how-it-work-list">
        <li>
          <h4>Register</h4>
          <div>Click the <a style="cursor:pointer;" href="/trade-landing"
              >Get Started</a> button below.</div>
        </li>

        <li>
          <h4>Create an account</h4>
          <div>Open an account at Interactive Brokers.</div>
        </li>

        <li>
          <h4>Complete questionnaire</h4>
          <div>Complete a Risk profile questionnaire.</div>
        </li>

        <li>
          <h4>Select a portfolio</h4>
          <div>You select a portfolio to that fit your objectives.</div>
        </li>

        <li>
          <h4>We take it from there</h4>
          <div>We handle all the transactions, rebalancing, and risk management for you.</div>
        </li>
      </ol>
    </div>

    <div class="section-img">
      <a href="/assets/home/image-1.svg" target="_blank">
        <img width="100%" src="/assets/home/image-1.svg" alt="How it work." />
      </a>
    </div>
    <div style="margin-top:10px;text-align: center;">
      <a pButton
         href="/trade-landing"
         class="p-button-fill get-started-button">Get Started</a>
    </div>
  </div>
</section>

<section class="powered-by">
  <h2 class="section-title">Powered by<br />TradingFront&trade; & Interactive Brokers&trade;</h2>

  <div class="section-container">
    <div class="section-content">
      <ul class="items-list">
        <li>The security of a major custodian</li>
        <li>Quick and simple account opening</li>
        <li>Portfolios recommended based on risk profile</li>
        <li>Consolidate accounts for reporting ease</li>
        <li>See all model transactions</li>
        <li>Track everything via website or mobile app</li>
        <li>Change models at any time</li>
      </ul>

    </div>

    <div class="section-img">
      <a href="/assets/home/image-2.svg" target="_blank">
        <img width="100%" src="/assets/home/image-2.svg" alt="Powered by image" />
      </a>
    </div>
  </div>
</section>

<section class="portfolios">
  <h2 class="section-title">Choose from a<br/> wide range of portfolios</h2>

  <div class="section-container">
    <div class="section-content">
      <ul class="items-list">
        <li>Large Capitalization</li>
        <li>Small & Mid-Capitalization</li>
        <li>Blockchain & Cryptocurrency</li>
        <li>Balanced Growth (60/40 Allocation)</li>
        <li>Moderate Growth (80/20 Allocation)</li>
        <li>Aggressive Growth (100% Equity)</li>
        <li>International Growth</li>
        <li>Many more to choose from</li>
      </ul>

      <div style="text-align: center;">
        <a pButton
          href="/trade-landing"
          class="p-button-fill get-started-button">Get Started</a>
      </div>
    </div>

    <div class="section-img">
      <a href="/assets/home/image-3.svg" target="_blank">
        <img width="100%" src="/assets/home/image-3.svg" alt="Portfolios image" />
      </a>
    </div>
  </div>
</section>

<section class="your-control">
  <h2 class="section-title">Completely<br />in your control</h2>

  <div class="section-container">
    <div class="section-content">

      <ul class="items-list">
        <li>Select the portfolio model you want</li>
        <li>The SimpleVisor Portfolio managers do all the work for you from trading to rebalancing</li>
        <li>Change models at any time</li>
        <li>SimpleVisor recommends models based on your risk profile</li>
        <li>The SimpleVisor Portfolio managers regularly rebalance and monitor all portfolios for you</li>
        <li>Monitor transactions real-time</li>
      </ul>

      <div style="text-align: center;">
        <a pButton
          href="/trade-landing"
          class="p-button-fill get-started-button">Get Started</a>
      </div>
    </div>

    <div class="section-img">
      <a href="/assets/home/image-4.svg" target="_blank">
        <img width="100%" src="/assets/home/image-4.svg" alt="Control image" />
      </a>
    </div>
  </div>
</section>

<section class="get-started">
  <h2 class="section-title">Get started today</h2>
  <div class="section-container">
    <div class="section-content">
      <ul class="items-list">
        <li>Click on the Get started link below</li>
        <li>Create a login for Trading Front</li>
        <li>Answer the Risk Profile questionnaire</li>
        <li>Open an account at Interactive Brokers</li>
        <li>Fund your new account</li>
        <li>Select your portfolio model</li>
        <li>Sit back, and let SimpleVisor do the work for you</li>
      </ul>

      <div style="text-align: center;">
        <a pButton
          href="/trade-landing"
          class="p-button-fill get-started-button">Get Started</a>
      </div>
    </div>

    <div class="section-img">
      <a href="/assets/home/image-5.svg" target="_blank">
        <img width="100%" src="/assets/home/image-5.svg" alt="Get started image" />
      </a>
    </div>
  </div>
</section>

<footer>
  <h2 class="footer-title">Take the first step to building your wealth</h2>
  <a pButton href="/trade-landing" class="p-button-text footer-button">Get Started</a>
</footer>
