<div class="p-grid">
    <div class="p-col-12">
        <h4>Getting Started - Introduction and Walkthrough of SimpleVisor Application and Investor Tools</h4>
    </div>

    <div class="p-col-12 p-text-center">
        <div class="video-container">
            <iframe src="https://www.youtube-nocookie.com/embed/pZUDxWWuKIs?si=2Huy8MWq-utQQTMk&amp;controls=0"
              title="Simplevisor Introduction" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
    </div>
</div>