.news {
  overflow-y: scroll;
  height: 400px;
  font-size: 14px;
}

.newsTab {
  overflow-y: scroll;
  height: 427px;
  font-size: 14px;
}

.small {
  font-size: 14px;
}

.news-big {
  overflow-y: scroll;
  height: 425px;
  font-size: 14px;
}

.news-tall {
  overflow-y: scroll;
  height: 600px;
  font-size: 14px;
}

.news-medium {
  overflow-y: scroll;
  height: 300px;
  font-size: 14px;
}

.news-small {
  overflow-y: scroll;
  height: 200px;
  font-size: 14px;
}

.news-500 {
  overflow-y: scroll;
  height: 500px;
  font-size: 14px;
}

.newsTime {
  font-size: 12px;
  width: 25%;
}

.newsBorder {
  border-bottom: #AEB0B5 1px solid;
  display: inline-block;
  padding: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.newsBody {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}