<div class="p-grid">
  <div class="p-col-12">
    <h3>1. How to Change my Password?</h3>
    <p>You can easily change your password by following below steps:</p>
    <ul>
      <li>
        <p>Click your name on the right hand corner.</p>
        <a href="assets/images/faq/userName.png" target="_blank">
          <img src="assets/images/faq/userName.png" alt="Image" width="100%">
        </a>
      </li>
      <li>
        <p>Click on My Account.</p>
        <a href="assets/images/faq/my-account.png" target="_blank">
          <img src="assets/images/faq/my-account.png" alt="Image" width="100%">
        </a>
      </li>
      <li>
        <p>On Account Details tab enter your new password and then click on Save button on right hand corner.</p>
        <a href="assets/images/faq/changePassword.png" target="_blank">
          <img src="assets/images/faq/changePassword.png" alt="Image" width="100%">
        </a>
      </li>
    </ul>
  </div>

    <div class="p-col-12">
      <h3>2. How to Change my Account information?</h3>
      <p>You can easily change your account information by following below steps:</p>
      <ul>
        <li>
          <p>Click your name on the right hand corner.</p>
          <a href="assets/images/faq/userName.png" target="_blank">
            <img src="assets/images/faq/userName.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on My Account.</p>
          <a href="assets/images/faq/my-account.png" target="_blank">
            <img src="assets/images/faq/my-account.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>On Account Details tab edit your information and then click on Save button on right hand corner.</p>
          <a href="assets/images/faq/accountInfo.png" target="_blank">
            <img src="assets/images/faq/accountInfo.png" alt="Image" width="100%">
          </a>
        </li>
      </ul>
    </div>

    <div class="p-col-12">
      <h3>3. How to Change my Plan?</h3>
      <p>You can easily change your plan by following below steps:</p>
      <ul>
        <li>
          <p>Click your name on the right hand corner.</p>
          <a href="assets/images/faq/userName.png" target="_blank">
            <img src="assets/images/faq/userName.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on My Account.</p>
          <a href="assets/images/faq/my-account.png" target="_blank">
            <img src="assets/images/faq/my-account.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on Subscription tab.</p>
          <a href="assets/images/faq/subscriptionTab.png" target="_blank">
            <img src="assets/images/faq/subscriptionTab.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on Change Plan button.</p>
          <a href="assets/images/faq/changePlan.png" target="_blank">
            <img src="assets/images/faq/changePlan.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>This will open a Upgrade Subscription Plan window.
            Select and Click on the Plan you want and then click on the Change button.</p>
          <a href="assets/images/faq/planDialog.png" target="_blank">
            <img src="assets/images/faq/planDialog.png" alt="Image" width="50%">
          </a>
        </li>
      </ul>
    </div>

    <div class="p-col-12">
      <h3>4. How to Unsubscribe my Plan?</h3>
      <p>You can easily unsubscribe from your plan by following below steps:</p>
      <ul>
        <li>
          <p>Click your name on the right hand corner.</p>
          <a href="assets/images/faq/userName.png" target="_blank">
            <img src="assets/images/faq/userName.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on My Account.</p>
          <a href="assets/images/faq/my-account.png" target="_blank">
            <img src="assets/images/faq/my-account.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on Subscription tab.</p>
          <a href="assets/images/faq/subscriptionTab.png" target="_blank">
            <img src="assets/images/faq/subscriptionTab.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click Unsubscribe button.</p>
          <a href="assets/images/faq/unsubscribePlan.png" target="_blank">
            <img src="assets/images/faq/unsubscribePlan.png" alt="Image" width="100%">
          </a>
        </li>
      </ul>
    </div>

    <div class="p-col-12">
      <h3>5. How to update Credit Card?</h3>
      <p>You can easily update your credit card information by following below steps:</p>
      <ul>
        <li>
          <p>Click your name on the right hand corner.</p>
          <a href="assets/images/faq/userName.png" target="_blank">
            <img src="assets/images/faq/userName.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on My Account.</p>
          <a href="assets/images/faq/my-account.png" target="_blank">
            <img src="assets/images/faq/my-account.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Click on Update Credit Card tab.</p>
          <a href="assets/images/faq/updateCreditCard.png" target="_blank">
            <img src="assets/images/faq/updateCreditCard.png" alt="Image" width="100%">
          </a>
        </li>
        <li>
          <p>Fill all the information on the form and press Submit button.</p>
          <a href="assets/images/faq/submit.png" target="_blank">
            <img src="assets/images/faq/submit.png" alt="Image" width="100%">
          </a>
        </li>
      </ul>
    </div>

    <div class="p-col-12">
      <h3>6. How to Subscribe / Unsubscribe Daily Emails?</h3>
      <p>You can easily Subscribe/Unsubscribe from daily emails by following below steps:</p>
      <ul>
        <li>
          <p>Click your name on the right hand corner.</p>
          <a href="assets/images/faq/userName.png" target="_blank">
          <img src="assets/images/faq/userName.png" alt="Image" width="100%">
        </a>
        </li>
        <li>
          <p>Click on My Account.</p>
          <a href="assets/images/faq/my-account.png" target="_blank">
          <img src="assets/images/faq/my-account.png" alt="Image" width="100%">
        </a>
        </li>
        <li>
          <p>Click on Update Daily Emails tab.</p>
          <a href="assets/images/faq/dailyemail.png" target="_blank">
          <img src="assets/images/faq/dailyemail.png" alt="Image" width="100%">
        </a>
        </li>
        <li>
          <p>Click on Subscribe Email or Unsubscribe Email.</p>
          <a href="assets/images/faq/emailSubscribe.png" target="_blank">
          <img src="assets/images/faq/emailSubscribe.png" alt="Image" width="100%">
        </a>
        </li>
      </ul>
    </div>
</div>