<div class="p-grid p-jc-center">
    <div class="p-col-12 p-sm-8 p-md-6 border-shadow p-p-4 bg-white">
         <!-- Information -->
         <div>
            <h3>Set Your Password</h3>
            <p class="p-text-justify" *ngIf="isOkayToReset && !isPasswordResetSucess">
                Please enter new password. If you face any issue, please
                <a routerLink="/contact-us">
                    <span>
                        Contact Us
                    </span>
                </a>.
            </p>
        </div>

        <!-- enter password -->
        <div class="p-field p-fluid" *ngIf="isOkayToReset && !isPasswordResetSucess">
            <label for='password' class="bold">New Password <span class="red">*</span></label>

            <p-password
                [feedback]="false"
                autocomplete="off"
                class='form-control'
                id='password'
                required
                minlength='1'
                [(ngModel)]='user_password'
                name='password'
                #password='ngModel'
                maxlength='15'
                [toggleMask]='true'
                placeholder="Enter New Password"
            ></p-password>

            <div *ngIf='password.invalid && (password.dirty || password.touched)' class='error-msg text-small'>
                <div *ngIf='password?.errors.required'>
                    New Password is required!
                </div>
            </div>
        </div>

        <!-- confirm password -->
        <div class="p-field p-fluid" *ngIf="isOkayToReset && !isPasswordResetSucess">
            <label for='confirmPassword' class="bold">Confirm Password <span class="red">*</span></label>

            <p-password
                [feedback]="false"
                autocomplete="off"
                class='form-control'
                id='confirmPassword'
                required
                minlength='1'
                [(ngModel)]='user_password_confirm'
                name='confirmPassword'
                #confirmPassword='ngModel'
                maxlength='15'
                [toggleMask]='true'
                placeholder="Confirm New Password"
            ></p-password>

            <div *ngIf='confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)' class='error-msg text-small'>
                <div *ngIf='confirmPassword?.errors.required'>
                    Confirm Password is required!
                </div>
            </div>

            <div *ngIf='(user_password_confirm !== user_password) && (confirmPassword.dirty || confirmPassword.touched)' class='error-msg text-small'>
                Confirm Password and New Password must match!
            </div>
        </div>

        <!-- Captcha -->
        <div class="p-text-center p-p-3" *ngIf="isOkayToReset && !isPasswordResetSucess">
            <div class="p-d-inline-block">
                <re-captcha 
                    #captcha 
                    [siteKey]="siteKey" 
                    (resolved)="showResponse($event)"
                    (expired)="resetCaptcha()"
                ></re-captcha>
            </div>
        </div>

         <!-- Message for User -->
         <div class="p-text-center p-p-2" *ngIf="msg">
            <p-message [severity]="msgType" [text]="msg" styleClass="p-mr-2"></p-message>
        </div>

        <!-- Reset Passowrd Button -->
        <div class="p-text-center" *ngIf="isOkayToReset && !isPasswordResetSucess">
            <button 
                [disabled]="password?.errors || confirmPassword?.errors|| loading || msg || !isCaptchaVerified" 
                label="Set Password" 
                (click)="resetUserPassword()" 
                pButton
            ></button>
        </div>

        <!-- Reset Passowrd Button -->
        <div class="p-text-center" *ngIf="!isOkayToReset">
            <div class="p-text-center p-m-3">
                Please try sending the link with reset token again by clicking button below.
            </div>
            <button  
                label="Send Reset Link" 
                [routerLink]="['/reset-password-request']"
                pButton
            ></button>
        </div>

         <!-- Login Button, on Success -->
         <div class="p-text-center" *ngIf="isPasswordResetSucess">
            <button  
                label="Login" 
                [routerLink]="['/login']"
                pButton
            ></button>
        </div>
    </div>
</div>
