<div class="p-grid p-fluid">
    <div class="p-col-12">
        <p-panel header="Password Recovery">
            <div class="password-recovery">
                <h4 *ngIf="successText !=''" class="success-msg" style="text-align:center; margin-top:10px;">
                    {{successText}}
                </h4>

                <form #userForm="ngForm" class="signUp" (ngSubmit)="userForm.form.valid" novalidate>
                    <div class="p-grid p-jc-center p-ai-end">
                        <div class="p-col-12 p-md-6">
                            <label for="email">Email</label>

                            <input name="email" class="form-control p-inputtext" [(ngModel)]="user.email" required
                                [pattern]="emailPattern" #email="ngModel" id="email">

                            <div *ngIf="email.errors && (email.dirty || email.touched)">
                                <div *ngIf="email?.errors.required" class="error-msg">
                                    Email required.
                                </div>
                                <div *ngIf="email?.errors.pattern" class="error-msg">
                                    Email not valid.
                                </div>
                            </div>
                        </div>

                        <div class="p-col-12 p-md-3">
                            <button [disabled]="! (userForm.form.valid)" label="Submit" icon="pi pi-check"
                                (click)="sendEmail()" pButton>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </p-panel>
    </div>
</div>