.video-card {
  display: flex;
  background-color: var(--surface-base-color);
  margin-bottom: 0.5rem;
  overflow: hidden;

  img {
    flex-shrink: 0;
    width: 100%;
    // height: auto;
  }

  &-heading {
    color: black;
    font-weight:900;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }

  &-image {
    width: 200px;
    padding: 1rem;
  }

  &-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  &-info {
    margin-bottom: 1rem;
  }

  &-channel {
    color: var(--additional-text-color);
  }

  &-wrapper {
    flex-grow: 1;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .video-card {
    flex-direction: column;

    img {
      width: 100%;
      height: auto;
      max-height: none;
    }

    &-image, &-content {
      width: 100%;
    }
  }
}
