<div class="ui-g ui-fluid">
    <div class="main">
        <div>
            <img
                    src="/assets/images/tpa-research/tpa-img1.jpg"
                    style="width: 30%; margin-bottom: 10px;margin-left:27%;"
            />
        </div>
        <div style="margin-top:2%;margin-left:17%;font-size:25px;font-weight: bold;">
            WELCOME TO TURNING POINT ANALYTICS (TPA) ON RIAPRO+
        </div>
        <p style="font-size:19px;font-weight: bold;">WHO IS TPA?</p>
        <div style="font-size:15px;">
            Turning Point Analytics (TPA) was founded in 2009 to provide technical and strategic research to institutional money managers.  In 2020, after 10 years of serving only large institutions, TPA began offering its full range of research services to mid and small managers, RIA’s, and wealthy sophisticated individuals looking for a way to increase their returns and outperform their peers.
            Jeff Marcus started TPA in 2009 after spending 25 years on trading desks and 13 years as a head trader for several large investment managers and hedge funds.  During his tenure as head trader, Mr. Marcus developed the Trend-Range Strategy to identify high conviction inflection points for buying and selling stocks.  TPA’s institutional clients are some of the largest investment managers in the world.
        </div>
        <p style="font-size:16px;font-weight: bold;"><u>TPA’s large and small clients all benefit from the same proprietary Trend-Range Strategy:</u></p>
        <ul style="font-size:15px;">
            <li><b>Perspective</b> - Turning Point Analytics (TPA) uses its proprietary Trend-Range strategy to provide clients with a technical and strategic overlay to their fundamental or macro process.  </li>
            <li><b>Inflection points</b> - Trend-Range determines whether a security is trending or rangebound and sets inflection points accordingly.</li>
            <li><b>Monitoring</b> - Alerts are identified and evaluated regularly.</li>
            <li>High Conviction - If an alert meets all of the requirements, it becomes a high conviction buy or sell recommendation, which is sent to subscribers. </li>
            <li><b>Discipline</b> - Each recommendation includes a target and a stop.</li>
            <li><b>Idea generation</b> - The Trend-Range process generates new buy and sell ideas on a regular basis.  TPA has averaged over 250 new trading ideas annually since its inception.</li>
        </ul>

        <div>
            <img
                    src="/assets/images/tpa-research/tpa-img2.jpg"
                    style="width: 60%; margin-bottom:10px;margin-top:10px;margin-left:23%;"
            />
        </div>

        <p style="font-size:19px;font-weight: bold;">HOW OFTEN DO I RECEIVE REPORTS /ALERTS?</p>
        <div style="font-size:15px;">
            <p>Subscribers will receive exclusive reports and alerts delivered on Monday and Thursday with possible mid-week updates as needed.</p>

            <p>Subscribers will also receive an email alert whenever changes (buy, sell, or short) are made to the TPA portfolio which is only available to TPA subscribers.</p>

        </div>

        <p style="font-size:19px;font-weight: bold;">WHAT IS INCLUDED IN THE REPORTS</p>
        <div style="font-size:15px;">
            TPA subscribers will receive the benefits of all of the reports that TPA has been providing to large institutional investment managers for the past 10 years.  It is our experience that, depending on an investor’s strategy and the conditions of the market, certain reports may be more or less important to each investor. <i>Regardless, each subscriber will receive and have access to all reports.</i>
        </div>

        <div>
            <img
                    src="/assets/images/tpa-research/tpa-img3.jpg"
                    style="width: 60%; margin-bottom:10px;margin-top:10px;margin-left:20%;"
            />
        </div>

        <p style="font-size:16px;font-weight: bold;"><u>Below is a brief description of each report:</u></p>
        <ul style="font-size:15px;">
            <li style="margin-bottom:1%;"><b>Comments & Charts</b> (daily) – is usually the most important TPA report for investors.  Comments & Charts contains <u>actionable buy and sell recommendations</u> delivered by email, when there is <u>high conviction</u>.  Each recommendation always includes step-by-step reasoning and accompanying annotated charts, but often also includes analytic tables and historic data.</li>
            <li style="margin-bottom:1%;"><b>World Snapshot </b> (daily) – TPA develops larger <u>macro themes</u> that are used to inform investment and trading decisions, market exposure, sector bias, and risk exposure.  These themes may be about the direction of the overall market or individual sectors or subsectors or analysis on interest rates or commodities and an explanation about how themes will affect markets or conditions and create opportunity for gains or a way to avoid losses.</li>
            <li style="margin-bottom:1%;"><b>Trend-Range Report</b> (daily) – this is the "raw material" from which high conviction recommendations are derived.  TPA uses the output from <u>TPA’s proprietary Trend-Range strategy</u> as a starting-point for its analysis.  In-depth explanations about Trend-Range, 6 Charts, and the screens can be found in sections of the website.</li>

            <div>
                <img
                        src="/assets/images/tpa-research/tpa-img4.jpg"
                        style="width: 75%; margin-bottom:10px;margin-top:10px;margin-left:10%;"
                />
            </div>

            <li style="margin-bottom:1%;"><b>Top 10 Buys & Top 10 Sells</b> (weekly) – these are high conviction stocks that TPA has recommended recently.  These are technically positive for Buys and technically negative for Sells.  TPA identifies action levels and distances to those levels from last price.</li>
            <div>
                <img
                        src="/assets/images/tpa-research/tpa-img5.jpg"
                        style="width: 50%; margin-bottom:10px;margin-top:10px;margin-left:21%;"
                />
            </div>

            <li style="margin-bottom:1%;"><b>TPA Canaries in the Coalmine</b> (daily) –  identifies important market and economic variables and identifies <u>inflection points for alerts</u>.  These variables and subsequent alerts are regularly discussed in the World Snapshot.</li>
            <div>
                <img
                        src="/assets/images/tpa-research/tpa-img6.jpg"
                        style="width: 65%; margin-bottom:10px;margin-top:10px;margin-left:15%;"
                />
            </div>

            <li style="margin-bottom:1%;"><b>TPA Marketscope</b> (daily) –  Market timing is not a complete investment strategy in and of itself, but should be utilized as a tool for successful investing.  Knowing when stocks are at extremes can present investors with opportunities and help them to avoid pitfalls.  The TPA Marketscope uses a set of carefully watched indicators to assess if the market is at or near extremes.  When the market is oversold, risk-return favors buying and not selling and when the market is overbought, risk-return favors selling and not buying.</li>
            <div>
                <img
                        src="/assets/images/tpa-research/tpa-img7.jpg"
                        style="width: 65%; margin-bottom:10px;margin-top:10px;margin-left:15%;"
                />
            </div>
            <!--           <a style="font-size:18px;margin-left:29%;" href="/register"><b>CLICK HERE TO UPGRADE YOUR SUBSCRIPTION NOW</b></a>-->
        </ul>
    </div>
</div>